body {
    background-color: #7d5a3f;
}

.header {
    text-align: center;
    color: rgb(223, 213, 191);
    font-size: 25px;
}

h1{
    margin: 0;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo{
padding: 15px;
}

.nav {
    background-color: rgb(223, 213, 191);
    text-align: center;
    padding: 15px;
    border: whitesmoke;
    border-radius: 15px;
}

a:link {
    font-size: 25px;
    margin: 25px;
}


.footer {
  background-color:  rgb(223, 213, 191);
  padding: 15px;
  border: whitesmoke;
  border-radius: 15px;
  text-align: center;
}


