body {
    background-color: #7d5a3f;
}

.header {
    text-align: center;
    color: rgb(223, 213, 191);
    font-size: 25px;
}

h1 {
    margin: 0;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo {
    padding: 15px;
}

.nav {
    background-color: rgb(223, 213, 191);
    text-align: center;
    padding: 15px;
    border: whitesmoke;
    border-radius: 15px;
}

a:link {
    font-size: 25px;
    margin: 25px;
}

.intro-img {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    padding: 15px;
    overflow: hidden;
}

#slideshow{
width: 100%;
height: 100%;
object-fit: cover;
opacity: 1;
transition: 800ms ease-in-out;
}

#slideshow.fade-out{
opacity: 0;
}